<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-6 align-items-center">
            <div *ngIf="viewOption==='month';then content1 else content2">
            </div>
            <ng-template #content1><input [type]="viewOption" [value]="date" [(ngModel)]="date" (change)="dateProcess()" /></ng-template>
            <ng-template #content2><input [type]="viewOption" [value]="currWeek" [(ngModel)]="currWeek" (change)="weekProcess()" /></ng-template>
        </div>
        <div class="col-xl-6 align-items-center">
            <select class="form-control s-box" (change)="selectProcess($event.target)">
                <option value="month" selected>Monthly</option>
                <option value="week">Weekly</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div ngDefaultControl [(ngModel)]="drawData">
                <div *ngIf="drawData.length>0">
                    <ngx-charts-line-chart [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="drawData" [autoScale]="true">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </div>
</div>