<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div routerLink="list" class="col-xl-5 mb-4">
        <app-card title="Total Students" count={{count1}}></app-card>
    </div>
    <div routerLink="attendence" class="col-xl-5 mb-4">
        <app-card title="Today's Strength" count={{count2}}></app-card>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-xl-8">
        <h2>This Month {{currMonth}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xl-8 custom">
        <div ngDefaultControl [(ngModel)]="drawData">
            <div *ngIf="drawData.length>0">
                <ngx-charts-line-chart [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [results]="drawData" [autoScale]="true">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>
</div>